/* Normalisation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}
html {
  transition: all 0.4s;
  background-color: var(--main-bg);
}
/* Root */
:root {
  --page-padding: 0px 8%;
  --main-bg: #f8f8f8;
  --box-bg: #ebebebe8;
  --nav-bg: rgb(240, 235, 235);
  --name-color: #232323;
  --header-btnH-color: #0e7edbf0;
  --header-Card-color: #0e7fdb41;
  --card-bg-text: #343434;
  --shadow: black;
  --Box-shadow: #2323239f;
  --shadow-btn: #232323;
}

.dark:root {
  --main-bg: #000000;
  --box-bg: #0e0e0ef8;
  --nav-bg: #0e0e0ef8;
  --name-color: #f8f8f8;
  --header-btnH-color: #b8860b;
  --header-Card-color: #b8870b3f;
  --card-bg-text: #ffffff;
  --Box-shadow: #ffffffa8;
  --shadow-btn: #000000;
}
.mode-switch {
  background-color: transparent;
  border: none;
  color: var(--header-btnH-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}
.mode-switch:hover {
  color: var(--name-color);
}
#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 13px;
  border: none;
  z-index: 99;
  outline: none;
  background-color: var(--name-color);
  color: var(--main-bg);
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s;
}

#go-top:hover {
  background-color: #d0d0d0;
}
#go-top i {
  position: relative;
  top: 1.7px;
}
/* Start nav style */

nav {
  padding: var(--page-padding);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 90px;
  width: 100%;
  background-color: var(--nav-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: -1px -9px 20px var(--header-btnH-color);
}
nav .nav-header-items {
  display: flex;
  align-items: center;
  gap: 5px;
}
nav .nav-header-items h1 {
  color: var(--header-btnH-color);
}
nav .nav-header-items i {
  font-size: 1.6em;
  margin-bottom: 4px;
  color: var(--name-color);
}
nav .nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .nav-items a {
  color: var(--name-color);
}
.Login-Register {
  color: white !important;
  background-color: var(--shadow);
  border: 1px solid var(--name-color);
  padding: 10px 30px;
  font-size: 0.9em;
  transition: all 0.5s;
}
.Login-Register:hover {
  background-color: var(--header-btnH-color);
}
/* End nav style */

/* Start header style */

.header-items {
  position: relative;
}
header .header-items img {
  width: 100%;
}
header .header-items a {
  position: absolute;
  bottom: 40px;
  left: 60px;
  color: white !important;
  background-color: var(--shadow);
  border: 1px solid var(--name-color);
  padding: 10px 30px;
  font-size: 0.9em;
  transition: all 0.5s;
}
header .header-items a:hover {
  background-color: var(--header-btnH-color);
  scale: 1.1;
}
/* End header style */

/* Start main style */
.section-1 {
  margin-bottom: 100%;
}
.section-1 .Search-section {
  text-align: center;
}
.section-1 .Search-section input {
  margin: 50px 0px;
  font-size: 1.1em;
  border: 0;

  padding: 10px;
  padding-right: 200px;
  box-shadow: 1px 0px 1px;
  outline: none;
}
.section-1 .Search-section a {
  color: white;
  background-color: var(--shadow);
  border-right: 1px solid var(--name-color);
  border-top: 1px solid var(--name-color);
  border-bottom: 1px solid var(--name-color);
  padding: 12.5px 45px;
  font-size: 0.8em;
  transition: all 0.5s;
  position: relative;
  top: -1.3px;
  left: -10px;
}
.section-1 .Search-section a:hover {
  background-color: var(--header-btnH-color);
}
.section-1 div.car-models {
  padding: var(--page-padding);
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.section-1 div.car-models > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-wrap: wrap;
  width: 350px;
  height: 210px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px var(--Box-shadow);
}
.section-1 div.car-models > div a {
  text-align: center;
 color: black;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
}
.section-1 div.car-models div img.Sedans {
  margin: auto;
  width: 70px;
}
.section-1 div.car-models div img.Trucks {
  margin: auto;
  width: 70px;
}
.section-1 div.car-models div img.SUV {
  margin: auto;
  width: 90px;
}
.section-1 div.car-models div img.Electric {
  margin: auto;
  width: 60px;
}
/* End main style */

/* Start Footer style */

/* End Footer style */

/* animation for hidden iteams*/
/* animation 1 */
.hidden {
  opacity: 0;
  transition: all 2s;
  transform: translateX(100%);
}
/* animation 2 */
.hiddenP {
  opacity: 0;
  scale: 0.9;
  transition: all 1.3s;
}
/* animation 3 */
.hiddenCardsOne {
  opacity: 0;
  transition: all 1.5s;
  transform: translateX(100%);
}
.hiddenCardsTwo {
  opacity: 0;
  transition: all 1.5s;
  transform: translateX(-100%);
}

/* animation 4 */
.up-hidden-input {
  opacity: 0;
  transition: all 1.5s;
  transform: translatey(100%);
}
/*Show*/
.show {
  opacity: 1;
  scale: 1;
  transform: translateX(0);
  transform: translatey(0);
}
/* animation footer */
.up-hidden {
  opacity: 0;
  transition: all 1.5s;
  transform: translatey(100%);
}
.up-show {
  transform: translatey(0%);
  opacity: 1;
}
