/* Normalisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
  }
  /* Root */
  :root {
    --page-padding: 0px 8%;
    --main-bg: #f8f8f8;
    --box-bg: #ebebebe8;
    --nav-bg: rgb(240, 235, 235);
    --name-color: #232323;
    --header-btnH-color: #0b6ab8;
    --card-bg-text: #343434;
    --shadow: #232323;
    --shadow-btn: #232323;
  }
  
  .dark:root {
    --main-bg: #000000;
    --box-bg: #0e0e0ef8;
    --nav-bg: #0e0e0ef8;;
    --name-color: #f8f8f8;
    --header-btnH-color: #b8860b;
    --card-bg-text: #ffffff;
    --shadow-btn: #000000;
  }
  .mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--name-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 13px;
  border: none;
  z-index: 99;
  outline: none;
  background-color: var(--name-color);
  color: var(--main-bg);
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s;
}

#go-top:hover {
  background-color: #d0d0d0;
}
#go-top i {
  position: relative;
  top: 1.7px;
}

  /* Start nav style */

  /* End nav style */
  
  /* Start header style */

  /* End header style */
  
  /* Start main style */

  /* End main style */
  
  /* Start Footer style */

  /* End Footer style */
