/* Normalisation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}
html {
  background-color: var(--main-bg);
  transition: all 0.2s;
  color: var(--name-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* Root */
:root {
  --page-padding: 0px 8%;
  --main-bg: #f8f8f8;
  --box-bg: #ebebebe8;
  --nav-bg: rgb(240, 235, 235);
  --name-color: #232323;
  --header-btnH-color: #0b6ab8;
  --card-bg-text: #343434;
  --shadow: black;
  --Box-shadow: #2323239f;
  --shadow-btn: #232323;
}

.dark:root {
  --main-bg: #000000;
  --box-bg: #0e0e0ef8;
  --nav-bg: #0e0e0ef8;
  --name-color: #f8f8f8;
  --header-btnH-color: #b8860b;
  --card-bg-text: #ffffff;
  --Box-shadow: #ffffffa8;
  --shadow-btn: #000000;
}
.mode-switch {
  background-color: transparent;
  border: none;
  color: var(--header-btnH-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

#go-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 13px;
  border: none;
  z-index: 99;
  outline: none;
  background-color: var(--name-color);
  color: var(--main-bg);
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s;
}

#go-top:hover {
  background-color: #d0d0d0;
}
#go-top i {
  position: relative;
  top: 1.7px;
}

/* Start header style */
/* Start nav style */

header nav {
  display: flex;
  justify-content: space-between;
  padding: var(--page-padding);
  align-items: center;
  height: 90px;
  text-align: center;
  background-color: var(--main-bg);
}
header nav div.nav-title {
  display: flex;
  color: var(--name-color);
}
header nav div.nav-title i {
  font-size: 1.6em;
  margin-right: 5px;
}
header nav div.nav-title h2 {
  color: var(--header-btnH-color);
}
header nav div.nav-iteams {
  display: flex;
  gap: 30px;
}
header nav div.nav-iteams div:first-child {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
header nav div.nav-iteams a {
  color: var(--name-color);
  transition: all 0.3s;
}
header nav div.nav-iteams a:hover {
  color: var(--header-btnH-color);
}
input {
  font-size: 1em;
  border: 0;
  padding: 10px;
  padding-right: 50px;
  box-shadow: 1px 0px 1px;
  border-left: 1px solid;
  outline: none;
}
div.nav-inp a {
  color: white !important;
  background-color: var(--shadow);
  border-right: 1px solid var(--name-color);
  border-top: 1px solid var(--name-color);
  border-bottom: 1px solid var(--name-color);
  padding: 10px 30px;
  font-size: 0.9em;
  position: relative;
  top: 0.4px;
  left: -10px;
  transition: all 0.5s;
}
div.nav-inp a:hover {
  background-color: var(--header-btnH-color);
}
/* End nav style */

header div.header-bg {
  position: relative;
}
header div.header-bg img {
  width: 100%;
}
header div.header-bg a {
  position: absolute;
  bottom: 10%;
  left: 3%;
  background-color: var(--main-bg);
  color: var(--name-color) !important;
  transition: all 0.5s;
  padding: 12.1px 30px;
  font-size: 0.9em;
}
header div.header-bg a:hover {
  background-color: var(--header-btnH-color);
  color: white !important;
  scale: 1.1;
}
/* End header style */

/* Start main style */
/* Start section-1 style */
.section-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  padding: 0 7%;
  margin-top: 8%;
  margin-bottom: 10%;
}
.section-1 .section-1-title-cards {
  margin: 5% 0px;
}
.section-1 .section-1-title-cards p {
margin-bottom: 15px;
margin-top: 30px;
}
.section-1 .section-1-product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.section-1 .section-1-product-cards > div{
  box-shadow:1px 1px 3px var(--Box-shadow);
  width: 540px;
  height: 395px;
  border-radius: 10px;
}
.section-1 .section-1-product-cards > div > div {
  margin: 0px 25px;
  margin-bottom: 20px;
}
.section-1 .section-1-product-cards img {
  width: 380px;
  border-radius: 25px;
  margin: 20px;
}
.section-1-title-cards a.btn {
  color: var(--main-bg);
  background-color: var(--name-color);
  padding: 10px 30px;
  font-size: 0.9em;
  transition: all 0.5s;
}
.section-1-title-cards a.btn:hover {
  color: white;
  background-color: var(--header-btnH-color);
}
a.Make-menu {
  font-size: 1em;
  border: 0;
  padding: 10px;
  box-shadow: 1px 0px 1px;
  border: 1px solid var(--name-color);
  margin-right: 10px;
  transition: all 0.5s;
  color: var(--name-color)
}
a.Make-menu:hover{
  color: white;
  background-color: var(--header-btnH-color);
}

.section-1-product-cards p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-bottom: 15px;
}
.section-1-product-cards a{
  color: var(--main-bg);
  background-color: var(--name-color);
  padding: 10px 30px;
  font-size: 0.9em;
  transition: all 0.5s;
}
.section-1-product-cards a:hover {
  color: white;
  background-color: var(--header-btnH-color);
}
/* End section-1 style */

/* Start section-2 style */
.section-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: var(--page-padding);
}
.section-2 h4 {
  margin: 25px 0;
}
.section-2 .section-2-product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.section-2 .section-2-product-cards img {
  width: 450px;
}

/* End section-2 style */

/* Start section-3 style */

.section-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: var(--page-padding);
  margin: 30px;
}
.section-3 h3{
  margin: 4% 0;
}
.section-3 .section-3-product-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-3 .section-3-product-cards div {
  text-align: center;
}

/* End section-3 style */

/* End main style */

/* Start Footer style */

/* End Footer style */
